/TME3-20260216/word2vec-google-news-300.dat.vectors.npy
/TME3-20260216/word2vec-google-news-300.dat
/TME3-20260216/word2vec-google-news-300_updated.dat
/TME3-20260216/word2vec-google-news-300_updated.dat.vectors.npy
